
      <div class="example-button-row" style="text-align: center;" >
        <button mat-raised-button color="warn" type="button" class="btn googleBtn" (click)="authService.GoogleAuth()"><i class="fab fa-google-plus-g"></i> Sign in With Google</button>
      </div>
      <div class="RuleWithText mt-20 mb-20">Or</div>
<form class="example-form mt-20">
    <mat-form-field class="example-full-width w-100" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput #userName [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. pat@example.com">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width w-100" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput #userPassword [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
             placeholder="Enter Password">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
        Please enter a valid Password
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <p class="mt-20"><a class="no-decoration" routerLink="/forgot-password">Forgot Password</a></p>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile class="pos-left"><a routerLink="/register">Create An Account</a><br/>
      
      </mat-grid-tile>
      <mat-grid-tile class="pos-right"><button (click)="authService.SignIn(userName.value, userPassword.value)" type="button" mat-raised-button color="primary">Login</button></mat-grid-tile>
   
  </mat-grid-list>


  </form>
