<mat-grid-list class="grid-all" cols="4" rowHeight="1:1">
    <mat-grid-tile class="show-overflow" colspan="4" rowspan="2">
  <mat-card class="cardx">
    <mat-card-title>
      <h4 class="text-center" style="margin-bottom:30px;">Please Sign in</h4>
  
    </mat-card-title>
    <mat-card-content>
  
      
      <app-custom-form></app-custom-form>
  
  
    </mat-card-content>
   
  
  </mat-card>
  </mat-grid-tile>
  </mat-grid-list>
  
  
  
  
  <div class="container" style="max-width: 550px">
    
  
    
  
    <div *ngIf="isLoggedin === true">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
      </div>
  
      <button type="button" (click)="logOut()" class="btn btn-primary">Log Out</button>
    </div>
  </div>