.cardx{

    width:500px;
    padding:40px;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .cardx{

        width:100%;
        padding:40px;
    }
    .grid-all{

        margin-top: 254px;
        margin-left: 10px;
    margin-right: 10px;
    }
    .show-overflow{

        overflow:visible;
    }

}